@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

/*------ Global Variables ------*/
:root {
    --primary: #091d60;
    --primary-dark: #1c1c1c;
    --red-accent: #EA1B24;
    --yellow-accent: #FFCA04;
    --blue-accent: #3363AF;
    --light-text: #ffffff;

    --bug : #A8B820;
    --dark : #705848;
    --dragon : #7038F8;
    --electric : #F8D030;
    --fairy : #EE99AC;
    --fighting : #C03028;
    --fire : #F08030;
    --flying : #A890F0;
    --ghost : #705898;
    --grass : #78C850;
    --ground : #E0C068;
    --ice : #98D8D8;
    --normal : #A8A878;
    --poison : #A040A0;
    --psychic : #F85888;
    --rock : #B8A038;
    --steel : #B8B8D0;
    --water : #6890F0;
}

/*------ Global Styles ------*/
h1, h2, h3, h4, h5 {
    font-family: 'Protest Strike', sans-serif;
}

/*------ Global Class Styles ------*/
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-jump{
    height: 20vh;
}


/* Types Color Classes */
.Bug { background-color: var(--bug);}
.Dark { background-color: var(--dark);}
.Dragon { background-color: var(--dragon);}
.Electric { background-color: var(--electric);}
.Fairy { background-color: var(--fairy);}
.Fighting { background-color: var(--fighting);}
.Fire { background-color: var(--fire);}
.Flying { background-color: var(--flying);}
.Ghost { background-color: var(--ghost);}
.Grass { background-color: var(--grass);}
.Ground { background-color: var(--ground);}
.Ice { background-color: var(--ice);}
.Normal { background-color: var(--normal);}
.Poison { background-color: var(--poison);}
.Psychic { background-color: var(--psychic);}
.Rock { background-color: var(--rock);}
.Steel { background-color: var(--steel);}
.Water { background-color: var(--water);}




